get a - roomba create 3 for 400 - arm built of dynamixel servos for 200 - camera for 100-500 (stereoscopic will set you back but its worth it) - nvidia jetson nano orin nx (500)
for about 2k, you can make a robot that can clean your house and is probably smarter than a dog/cat

https://x.com/Hyferion/status/1816855679543488764s


header (research products safety company )
hero carousel
1. chatgpt
2. research
3. for busines
4. fore devs
5. stories
6. news


hero block
instant answer. great
try
end hero


footer
