What is a human? it is a bundle of atoms that can 1. perceive 2. think (which is
perception via the thought door rather than light, sound, tactile or gustatory
sensations) 3. act if you record electrical signals in the neurons that govern
these 3 systems, then you can solve "the transference of wisdom" No one really
sees each other With training, a human can probably predict the latent
repesentation of someone else, using their body language and eye contact. Or it
can be computed, and transmitted to the mind via man-machine interfaces. -
economics of medicine - biotechnology - nanotechnology - robotics - machine
learning infrastructure The pandemic, that I have thrown more opportunity, Does
everything happen for a reason? I am 100 percent insane. My mind is different
from yours. My 9th grade teacher thought i had schizophrenia when she saw my
drawings. Other girl s I'm pretty average in smarts. And "Death and chance stole
your parents. But rather than become a victim, you have done everything in your
power to control the fates. For what is Batman if not an effort to master the
chaos that sweeps our world, an attempt to control death itself?" "I bet your
parents taught you that you mean something, that you're here for a reason. Life
taught me a different lesson, with people i love dying in the gutter for no
reason at all. It taught me the world only makes sense if you force it to.
sometimes, you have to force the hand of fate. Sometimes, you have to sacrifice
god to change the future. No other lamb will suffice. Somtimes, you have to
sacrifice that which is closest to your heart by that i mean, your values, your
identity, your preferences, your opinions, your tastes, and your beliefs The
rich believe that they worked hard or were the most "meritorious". and the poor
believe the world is unfair. we choose beliefs that reinforce our identity.
