<div class="bg-black">
  <img
    src="https://pbs.twimg.com/profile_images/1486033940301426711/HoYf1hzR_200x200.jpg"
    width="500px"
    height="500px"
  />
  <h2 class="font-display font-small text-slate-900 dark:text-white">
    Robotics
  </h2>
  <h2 class="font-display font-small text-slate-900 dark:text-white">
    Machine Learning Infrastructure
  </h2>
  <h2 class="font-display font-small text-slate-900 dark:text-white">
    Creative AI
  </h2>
  <h2 class="font-display font-small text-slate-900 dark:text-white">
    Genetic Engineering
  </h2>

  <h2 class="font-display font-small text-slate-900 dark:text-white">
    Nanotechnology
  </h2>

  <h2 class="font-display font-small text-slate-900 dark:text-white">
    GovTech
  </h2>

  <h2 class="font-display font-small text-slate-900 dark:text-white">
    MedTech
  </h2>
</div>
