<div class="body">
  <div class="flex min-h-full bg-white dark:bg-slate-900">
    <div class="flex w-full flex-col">

      <div
        class="relative mx-auto flex w-full max-w-8xl flex-auto justify-center sm:px-2 lg:px-8 xl:px-12"
      >
        <div
          class="oops"

        >
          <div class="hidden lg:relative lg:block lg:flex-none">
            <div
              class="absolute inset-y-0 right-0 w-[50vw] bg-slate-50 dark:hidden"
            ></div>
            <div
              class="absolute bottom-0 right-0 top-16 hidden h-12 w-px bg-gradient-to-t from-slate-800 dark:block"
            ></div>
            <div
              class="absolute bottom-0 right-0 top-28 hidden w-px bg-slate-800 dark:block"
            ></div>
            <div
              class="sticky top-[4.75rem] -ml-0.5 h-[calc(100vh-4.75rem)] w-64 overflow-y-auto overflow-x-hidden py-16 pl-0.5 pr-8 xl:w-72 xl:pr-16"
            >
              <nav class="text-base lg:text-sm">
                <ul role="list" class="space-y-9">
                  <li>
                    <h2 class="font-display font-medium text-slate-900 dark:text-white">
                      Leaf Studio
                    </h2>
                    <ul
                      role="list"
                      class="mt-2 space-y-2 border-l-2 border-slate-100 lg:mt-4 lg:space-y-4 lg:border-slate-200 dark:border-slate-800"
                    >
                      <li class="relative">
                        <a
                          class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full font-semibold text-sky-500 before:bg-sky-500"
                          href="/"
                        >Posts</a
                              >
                      </li>
                      <li class="relative">
                        <a
                          class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300"
                          href="/about"
                        >About</a
                              >
                      </li>

                      <!-- <li class="relative">
                           <a
                           class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300"
                           href="https://twitter.com/adnan_wahab_"
                           >Twitter</a
                           >
                           </li> -->
                      <li class="relative">
                        <a
                          class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300"
                          href="/subscribe"
                        >Subscribe</a
                                  >
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>


        </div>


        <!-- end left nave  -->
        <!-- begin center content  -->
        <div
          class="relative flex h-full max-w-full flex-1 flex-col overflow-hidden border border-pink-500"
        >

          <main class="flex-auto border-t border-l-0 border-gray-300 px-4 pb-4 max-w-2xl text-lg text-white">
           <h1 class="text-4xl font-bold mb-6">About me</h1>

            <p class="mb-4">I'm a researcher at Zoox on the prediction ML and perception labeling team.</p>
            <p class="mb-4">I've written a book about fixing medicine that I'm working on getting published.</p>

            <h2 class="text-2xl font-semibold mt-6 mb-3">On this blog I write about:</h2>
            <ul class="list-disc pl-6 space-y-2">
              <li>economics</li>
              <li>Neuro Science</li>
              <li>Lidar</li>
              <li>Scene Understanding</li>
              <li>3d-annotation</li>
              <li>Perception</li>
              <li>Command and Control</li>
              <li>Connectivity</li>
              <li>Motion Planning</li>
              <li>Decision Transformers</li>
              <li>Semiotics</li>
              <li>Robotics</li>
              <li>MedTech</li>
              <li>Machine Learning Infrastructure Genetic Engineering Nanotechnology GovTech</li>
              <li>Measurement</li>
              <li>Jupyter</li>
              <li>sensors</li>
              <li>reorgination / organization</li>
              <li class="hidden">self analysis via watching 12-15 hour replays </li>
            </ul>

            <p class="mt-6 mb-4">I also like chess, but I haven't written any blog posts about that. I used to live in San Francisco. Now I live in London.</p>

            <h2 class="text-2xl font-semibold mt-6 mb-3">Contact</h2>
            <p class="mb-4">I'm on Twitter and I use email - <span class="bg-gray-700 px-2 py-1 rounded">hi@hashirama.blog</span>. I'd love to hear from you about anything that's on your mind.</p>
          </main>
        </div>
      </div>

    </div>


    <div
      id="display"
      class="relative flex h-full max-w-full flex-1 flex-col overflow-hidden border border-pink-500"

    ></div>
    
  </div>

</div>
<footer class="w-full border-t border-gray-300 p-4 text-center dark:bg-slate-900 text-white">
    <a class="mx-1 hover:underline" href="/">Home</a> /
    <a class="mx-1 hover:underline" href="/archive">Archive</a> /
    <a class="mx-1 hover:underline" href="/feed.xml">RSS</a> /
    <a class="mx-1 hover:underline" href="https://twitter.com/robjheaton">Twitter</a> /
    <a class="mx-1 hover:underline" href="/office-hours">Office hours</a> /
    <a class="mx-1 hover:underline" href="/tipoffs">Tipoffs</a> /
    <a class="mx-1 hover:underline" href="https://soundcloud.com/myidkd">SoundCloud</a>
  </footer>
