
          <h2 class="font-display font-small text-slate-900 dark:text-white">
            Robotics
          </h2>
          <h2 class="font-display font-small text-slate-900 dark:text-white">
            Machine Learning Infrastructure
          </h2>
          <h2 class="font-display font-small text-slate-900 dark:text-white">
            Creative AI
          </h2>
          <h2 class="font-display font-small text-slate-900 dark:text-white">
            Genetic Engineering
          </h2>

          <h2 class="font-display font-small text-slate-900 dark:text-white">
            Nanotechnology
          </h2>

          <h2 class="font-display font-small text-slate-900 dark:text-white">
            GovTech
          </h2>

          <h2 class="font-display font-small text-slate-900 dark:text-white">
              MedTech
          </h2>
