Alan Kay Bookshelf

[
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0451616162/squeakland-20",
"title": "\n                  Gutenberg Galaxy",
"author": "\n               by\n\n               \n                  MARSHALL MCLUHAN\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0262631598/squeakland-20",
"title": "\n                  Understanding Media",
"author": "\n               by\n\n               \n                  MARSHALL MCLUHAN\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0156623412/squeakland-20",
"title": "\n                  The Myth of the Machine",
"author": "\n               by\n\n               \n                  LEWIS MUMFORD\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/015688254X/squeakland-20",
"title": "\n                   Technics and Civilization",
"author": "\n               by\n\n               \n                  LEWIS MUMFORD\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0434903965/squeakland-20",
"title": "\n                  Technology, Management,and Society",
"author": "\n               by\n\n               \n                  PETER DRUCKER\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0887306187/squeakland-20",
"title": "\n                   Innovation and Entrepreneurship",
"author": "\n               by\n\n               \n                  PETER DRUCKER\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0140094385/squeakland-20",
"title": "\n                   Amusing Ourselves to Death",
"author": "\n               by\n\n               \n                  NEIL POSTMAN\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0679751661/squeakland-20",
"title": "\n                   The Disappearance of Childhood",
"author": "\n               by\n\n               \n                  NEIL POSTMAN\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/067973421X/squeakland-20",
"title": "\n                  Conscientious Objections\n",
"author": "\n               by\n\n               \n                  NEIL POSTMAN\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0465095003/squeakland-20",
"title": "\n                  The Psycology of the Child",
"author": "\n               by\n\n               \n                  JEAN PIAGET\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0670005770/squeakland-20",
"title": "\n                  To Understand is to Invent",
"author": "\n               by\n\n               \n                  JEAN PIAGET\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0465095003/squeakland-20",
"title": "\n                  Thought and Language",
"author": "\n               by\n\n               \n                  LEV VYGOTSKY\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0674576284/squeakland-20",
"title": "\n                  Mind in Society",
"author": "\n               by\n\n               \n                  LEV VYGOTSKY\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0675088887/squeakland-20",
"title": "\n                  The Psychology of Art",
"author": "\n               by\n\n               \n                    LEV VYGOTSKY \t  \n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0674897013/squeakland-20",
"title": "\n                  Towards a Theory of Instruction",
"author": "\n               by\n\n               \n                  JEROME BRUNER\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0393006905/squeakland-20",
"title": "\n                  The Relevance of Education",
"author": "\n               by\n\n               \n                  JEROME BRUNER\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0913677051/squeakland-20",
"title": "\n                  Instead of Education",
"author": "\n               by\n\n               \n                  JOHN HOLT\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0907637094/squeakland-20",
"title": "\n                  Teach Your Own",
"author": "\n               by\n\n               \n                  JOHN HOLT\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0435082051/squeakland-20",
"title": "\n                  Essays into Literacy",
"author": "\n               by\n\n               \n                  FRANK SMITH\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0060903252/squeakland-20",
"title": "\n                  Lateral Thinking",
"author": "\n               by\n\n               \n                  EDWARD de BONO\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0316177911/squeakland-20",
"title": "\n                  Six Thinking Hats",
"author": "\n               by\n\n               \n                  EDWARD de BONO\n               \n\n               \n\n            "
},
{
"href": "https://www.amazon.com/Inner-Game-Tennis-Classic-Performance/dp/0679778314?ie=UTF8&*Version*=1&*entries*=0",
"title": "\n                  The Inner Game of Tennis",
"author": "\n               by\n\n               \n                    TIM GALLWEY \n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0874875846/squeakland-20",
"title": "\n                  Nurtured by Love",
"author": "\n               by\n\n               \n                  SHINICHI SUZUKI\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0345305833/squeakland-20",
"title": "\n                  The Secret of Childhood",
"author": "\n               by\n\n               \n                  MARIA MONTESSORI\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/080930967X/squeakland-20",
"title": "\n                  School and Society",
"author": "\n               by\n\n               \n                  JOHN DEWEY\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0879755601/squeakland-20",
"title": "\n                  Freedom and Culture",
"author": "\n               by\n\n               \n                  JOHN DEWEY\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0140191917/squeakland-20",
"title": "\n                  Act of Creation",
"author": "\n               by\n\n               \n                  ARTHUR KOESTLER\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0394524721/squeakland-20",
"title": "\n                  The Ghost in the Machine",
"author": "\n               by\n\n               \n                  ARTHUR KOESTLER\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0394524721/squeakland-20",
"title": "\n                  Mindstorms",
"author": "\n               by\n\n               \n                  SEYMOUR PAPERT\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0465010636/squeakland-20",
"title": "\n                  The Childrens' Machine",
"author": "\n               by\n\n               \n                  SEYMOUR PAPERT \n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0140194614/squeakland-20",
"title": "\n                  Myths to Live By",
"author": "\n               by\n\n               \n                  JOSEPH CAMPBELL\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0140194401/squeakland-20",
"title": "\n                  The Masks of God",
"author": "\n               by\n\n               \n                  JOSEPH CAMPBELL\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0226046117/squeakland-20",
"title": "\n                  Language and Species",
"author": "\n               by\n\n               \n                  DEREK BICKERTON\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0674721144/squeakland-20",
"title": "\n                  The Psychology of Literacy",
"author": "\n               by\n\n               \n                  SILVIA SCRIBNER & MIKE COLE\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0618057072/squeakland-20",
"title": "\n                  The Origin of Consciousness in the Breakdown of the Bicameral Mind ",
"author": "\n               by\n\n               \n                  JULIAN JAYNES\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0465097197/squeakland-20",
"title": "\n                  The Interpretation of Cultures",
"author": "\n               by\n\n               \n                  CLIFFORD GEERTZ\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0787951404/squeakland-20",
"title": "\n                  Beyond Boredom and Anxiety",
"author": "\n               by\n\n               \n                  MIHALY CSIKSZENTMIHALY\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0060920432/squeakland-20",
"title": "\n                  Flow",
"author": "\n               by\n\n               \n                  MIHALY CSIKSZENTMIHALYI\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/1883536243/squeakland-20",
"title": "\n                  New World, New Mind",
"author": "\n               by\n\n               \n                  ROBERT ORNSTEIN & PAUL ERLICH\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0020768702/squeakland-20",
"title": "\n                  Maps of the Mind",
"author": "\n               by\n\n               \n                    CHARLES HAMPTON-TURNER \t  \n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0440351839/squeakland-20",
"title": "\n                  Man and his Symbols",
"author": "\n               by\n\n               \n                  CARL JUNG\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0892540419/squeakland-20",
"title": "\n                  Modern Woman in Search of a Soul",
"author": "\n               by\n\n               \n                  CARL JUNG\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0671657135/squeakland-20",
"title": "\n                  Society of Mind",
"author": "\n               by\n\n               \n                  MARVIN MINSKY \t  \n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0688007856/squeakland-20",
"title": "\n                  Archetypes",
"author": "\n               by\n\n               \n                  ANTHONY STEVENS \t  \n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/1585100072/squeakland-20",
"title": "\n                  Timeaus",
"author": "\n               by\n\n               \n                  PLATO\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0679413308/squeakland-20",
"title": "\n                  Republic",
"author": "\n               by\n\n               \n                  PLATO\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0671201581/squeakland-20",
"title": "\n                  History of Western Philosophy",
"author": "\n               by\n\n               \n                  BERTRAND RUSSELL\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/067120145X/squeakland-20",
"title": "\n                  Human Knowledge, Its Scope and Limits",
"author": "\n               by\n\n               \n                  BERTRAND RUSSELL\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0415079195/squeakland-20",
"title": "\n                  Sceptical Essays",
"author": "\n               by\n\n               \n                  BERTRAND RUSSELL\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0345368096/squeakland-20",
"title": "\n                  The Passion of the Western Mind",
"author": "\n               by\n\n               \n                    RICHARD TARNAS \t  \n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0316109339/squeakland-20",
"title": "\n                  Ascent of Man",
"author": "\n               by\n\n               \n                  JACOB BRONOWSKI\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0415028302/squeakland-20",
"title": "\n                  Wisdom, Information & Wonder",
"author": "\n               by\n\n               \n                  MARY MIDGLEY\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0415062713/squeakland-20",
"title": "\n                  Science as Salvation",
"author": "\n               by\n\n               \n                  MARY MIDGLEY\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0226025985/squeakland-20",
"title": "\n                  The Human Condition",
"author": "\n               by\n\n               \n                    HANNAH ARENDT \t  \n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0937298018/squeakland-20",
"title": "\n                  Science and Sanity",
"author": "\n               by\n\n               \n                  COUNT KORZYBSKI\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/B00005WRFM/squeakland-20",
"title": "\n                  Science is not Enough",
"author": "\n               by\n\n               \n                    VANNEVAR BUSH \t  \n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0824506774/squeakland-20",
"title": "\n                  What I Believe",
"author": "\n               by\n\n               \n                  MARK BOOTH (Ed)\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0345370996/squeakland-20",
"title": "\n                  Te-Tao Ching ",
"author": "\n               by\n\n               \n                  LAO-TZU \t \n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0834800799/squeakland-20",
"title": "\n                  Zen Mind, Beginners' Mind",
"author": "\n               by\n\n               \n                  SHUNRYU SUZUKI\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/B00005VM00/squeakland-20",
"title": "\n                  Civilisation",
"author": "\n               by\n\n               \n                  KENNETH CLARK\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0500272069/squeakland-20",
"title": "\n                  What is a Masterpiece",
"author": "\n               by\n\n               \n                  KENNETH CLARK\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0691070008/squeakland-20",
"title": "\n                  Art and Illusion",
"author": "\n               by\n\n               \n                  ERNST GOMBRICH\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0691048371/squeakland-20",
"title": "\n                  Eye and Brain",
"author": "\n               by\n\n               \n                  RICHARD GREGORY\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0520018710/squeakland-20",
"title": "\n                  Visual Thinking",
"author": "\n               by\n\n               \n                  RUDOLF ARNHEIM\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0674627512/squeakland-20",
"title": "\n                  Notes on a Synthesis of Form",
"author": "\n               by\n\n               \n                  CHRISTOPHER ALEXANDER\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0395305314/squeakland-20",
"title": "\n                  Gossamer Odyssey",
"author": "\n               by\n\n               \n                  MORTON GROSSER\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0262022087/squeakland-20",
"title": "\n                  Vehicles",
"author": "\n               by\n\n               \n                  VALENTINO BRAITENBERG\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0393001539/squeakland-20",
"title": "\n                  The Living Brain",
"author": "\n               by\n\n               \n                  W. GRAY WALTER\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0961392142/squeakland-20",
"title": "\n                  The Visual Display of Quantitative Information",
"author": "\n               by\n\n               \n                  EDWARD TUFTE\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0961392118/squeakland-20",
"title": "\n                  Envisioning Information",
"author": "\n               by\n\n               \n                  EDWARD TUFTE\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/3540978461/squeakland-20",
"title": "\n                  The Machinery of Life",
"author": "\n               by\n\n               \n                  DAVID GOODSELL\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0517105837/squeakland-20",
"title": "\n                  The Ring of Truth",
"author": "\n               by\n\n               \n                  PHILIP MORRISON\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0674037243/squeakland-20",
"title": "\n                  The Animal in Its World",
"author": "\n               by\n\n               \n                    NIKO TINBERGEN \n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/093521805X/squeakland-20",
"title": "\n                  Relativity Visualized",
"author": "\n               by\n\n               \n                  L.C. EPSTEIN\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0385199732/squeakland-20",
"title": "\n                  Engines of Creation",
"author": "\n               by\n\n               \n                  ERIC DREXLER\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0393315703/squeakland-20",
"title": "\n                  The Blind Watchmaker",
"author": "\n               by\n\n               \n                  RICHARD DAWKINS\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0192860925/squeakland-20",
"title": "\n                  The Selfish Gene",
"author": "\n               by\n\n               \n                  RICHARD DAWKINS\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0345346297/squeakland-20",
"title": "\n                  Dragons of Eden",
"author": "\n               by\n\n               \n                  CARL SAGAN\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0345336895/squeakland-20",
"title": "\n                  Broca's Brain",
"author": "\n               by\n\n               \n                  CARL SAGAN\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0387097902/squeakland-20",
"title": "\n                  Neuroethology",
"author": "\n               by\n\n               \n                  EWERT\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0679601279/squeakland-20",
"title": "\n                  The Character of Physical Law",
"author": "\n               by\n\n               \n                  RICHARD FEYNMAN\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0691024170/squeakland-20",
"title": "\n                  QED",
"author": "\n               by\n\n               \n                  RICHARD FEYNMAN\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0385312113/squeakland-20",
"title": "\n                  The God Particle",
"author": "\n               by\n\n               \n                  LEON LEDERMAN\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0385312113/squeakland-20",
"title": "\n                  From Quarks to Cosmos",
"author": "\n               by\n\n               \n                  LEON LEDERMAN\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/074321630X/squeakland-20",
"title": "\n                  The Double Helix",
"author": "\n               by\n\n               \n                  JAMES WATSON\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0716711869/squeakland-20",
"title": "\n                  Fractal Geometry",
"author": "\n               by\n\n               \n                  BENOIT MANDELBROT\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0452009227/squeakland-20",
"title": "\n                  An American Primer",
"author": "\n               by\n\n               \n                  DANIEL BOORSTIN\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0394703588/squeakland-20",
"title": "\n                  The Americans",
"author": "\n               by\n\n               \n                    DANIEL BOORSTIN \t  \n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0451628810/squeakland-20",
"title": "\n                  The Federalist Papers",
"author": "\n               by\n\n               \n                    MADISON, et al \t  \n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0451625250/squeakland-20",
"title": "\n                  The Anti-Federalist Papers",
"author": "\n               by\n\n               \n                  RALPH KETCHAM (Ed)\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0486296024/squeakland-20",
"title": "\n                  Common Sense",
"author": "\n               by\n\n               \n                  TOM PAINE\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0486408930/squeakland-20",
"title": "\n                  The Rights of Man",
"author": "\n               by\n\n               \n                  TOM PAINE\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0806505494/squeakland-20",
"title": "\n                  The Age of Reason",
"author": "\n               by\n\n               \n                  TOM PAINE\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/019509154X/squeakland-20",
"title": "\n                  An Aristocracy of Everyone",
"author": "\n               by\n\n               \n                  BENJAMIN BARBER\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0140058079/squeakland-20",
"title": "\n                  The Zero Sum Society",
"author": "\n               by\n\n               \n                  LESTER THUROW\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0684846411/squeakland-20",
"title": "\n                  Economics Explained",
"author": "\n               by\n\n               \n                  LESTER THUROW\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0446394971/squeakland-20",
"title": "\n                  Head to Head",
"author": "\n               by\n\n               \n                  LESTER THUROW\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0262041006/squeakland-20",
"title": "\n                  Made in America",
"author": "\n               by\n\n               \n                  MIKE DERTUOZOS (Ed)\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0201517523/squeakland-20",
"title": "\n                  Building Large Knowledge-Based Systems",
"author": "\n               by\n\n               \n                  DOUG LENAT\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0262130114/squeakland-20",
"title": "\n                  LISP 1.5 Manual (MIT Press)",
"author": "\n               by\n\n               \n                  JOHN McCARTHY\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0131655639/squeakland-20",
"title": "\n                  Computation: Finite and Infinite Machines",
"author": "\n               by\n\n               \n                  MARVIN MINSKY\n               \n\n               \n\n            "
},
{
"href": "http://www.amazon.com/exec/obidos/ASIN/0262640104/squeakland-20",
"title": "\n                  The Architecture Machine",
"author": "\n               by\n\n               \n                  NICHOLAS NEGROPONTE\n               \n\n               \n\n            "
}
]


sivers 400



PG 100



Naval Ravikant - 100

Peter Thiel - 100

CHarlie Munger - 100


---- 900 ----


1,000 - 2,000
