
<div class="hidden" hx-trigger="load" hx-get="/api/hero" hx-swap="innerHTML">
</div>

<div class="body">
  <div class="flex min-h-full dark:bg-slate-900">
    <div class="flex w-full flex-col">
        <div
            class="relative mx-auto flex w-full flex-auto justify-center "

        >
        <div
          class="hidden"
          hx-trigger="load"
          hx-get="/api/chat"
          hx-swap="innerHTML"
        ></div>
        <div
            class="relative flex h-full max-w-full flex-1 flex-col overflow-hidden text-white"


        >
            <pre>
Dear Duvie.

Time to be friends. By any means necessary.

for the next 30,000 days we will talk.

I am listening. and you will listen.


Hey, hope you're having a good day.

I gotta ask, why do you always block me.

It really hurts.

We met once at hotel chantelle.

Sorry i didnt stay later and chat, if i knew you guys got a table i would have gotten a redbull.

From March till June 2020 i didn't have any contact with our mutual friend. then you randomly blocked me, then they blocked me.


2020 was a year when everyone was supposed to work together.

There was a global calamity.


it hurt being blocked for no reason man.

was there some kinda defamation going on?


because our mutual friend, told me once that one of her ex-partners had like raped her and been abusive and manipulative and i was like crying it was so painful to hear.

And then later she told me "it wasnt that bad, he didnt force me all the time." and i literally didnt know what to do.

i thought like everyone needed therapy after that.

I just dont understand the unprovoked blocking. Did i wrong you in some way?


She told me you once called me weird in 2019.
i grew beleiving that "normal was considered harmful" and that good ideas were always considered weird.
because alan kay told me that, and he was one of the coolest scientists ever



https://www.youtube.com/watch?v=FvmTSpJU-Xc

https://en.wikipedia.org/wiki/Groupthink


I believe i deserve an apology from you.


it may take years for the cognitive dissonance to melt. Everything you know is false.
What i am about to show you, that is the truth



if you have any information about the wherabouts of this david badani, please text 347-452-0162
He stole millions of dollars from me, and kidnapped my fiancee.
https://www.instagram.com/badani/


            </pre>



        </div>


        <div
            id="display"
            class="relative flex h-full max-w-full flex-1 flex-col overflow-hidden "

        ></div>
      </div>
    </div>
  </div>
</div>

<!-- lies are insulting to your intelligence - they think you cant see it .. -->
<!-- <div class="inset-0 flex-shrink-0 overflow-x-hidden bg-token-sidebar-surface-primary" style="width: 260px; visibility: visible" id="sidebar" ></div> -->
<!-- <div class="relative z-0 flex h-full w-full overflow-hidden"></div> -->

<script>
 function toggleSidebar(hideEl, showEl, shouldShow) {
     let currentStateToggled =
         document.querySelector("#sidebar").style.visbility === "none";
     console.log(currentStateToggled);

     if (shouldShow) {
         showEl.style.display = "none";
         document.querySelector("#sidebar").style.width = "260px";
         document.querySelector("#sidebar").style.visbility = "visible";
     } else {
         showEl.style.display = "block";
         document.querySelector("#sidebar").style.width = "0px";
         document.querySelector("#sidebar").style.visbility = "none";
     }
 }

 setTimeout(function () {
     let [hide, show] = ["#hide-sidebar", "#show-sidebar"].map((q) =>
         document.querySelector(q),
     );
     //console.log(hide, show)
     if (show) show.style.display = "none";
     if (hide)
         hide.addEventListener("click", () => toggleSidebar(hide, show, false));
     if (show)
         show.addEventListener("click", () => toggleSidebar(hide, show, true));
 }, 0);
</script>
