
<div class="hidden" hx-trigger="load" hx-get="/api/hero" hx-swap="innerHTML">
</div>

<div class="body">
  <div class="flex min-h-full bg-slate-900">
    <div class="flex w-full flex-col">
        <div
            class="relative mx-auto flex w-full flex-auto justify-center "

        >
        <div
          class=""
          hx-trigger="load"
          hx-get="/api/chat"
          hx-swap="innerHTML"
        ></div>
        <div class="relative flex h-full max-w-full flex-1 flex-col overflow-hidden text-white">
            <pre>
"It is not wise to judge others based on your preconceptions and appearances" - uchiha itachi
""
if you had a problem with, you should have come straight to me, not spread seeds of corrosion into the souls of your comrades.
Dear Comrade,
your greatest weakness is fear. due to fear, you sabotaged the life of your friend.
you must answer for your actions. you are liable for damages.
skirting responsbility is against judiasm.
Fear is the opposite of understanding.
Time to be friends. By any means necessary.
for the next 30,000 days we will talk.
I am listening. and you will listen.
Hey, hope you're having a good day.
I gotta ask, why did you block me on instagram on june 5 2020
It really hurt.
We met once at hotel chantelle.
Sorry i didnt stay later and chat, if i knew you guys got a table i would have gotten a redbull.
From April till June 2020 i didn't have any contact with our mutual friend. then you randomly blocked me, then they blocked me.
She called me in March and said she wanted to talk but that she needed some more time.
After that i took my sister and flew to texas. At the airport i got hit by a car at the airport while putting the luggage into the trunk.
My brother was there.
I got some pain medication but was basically bed ridden for a few weeks.
After you blocked me in June, she never spoke to me again.
I don't know what you said but i'm guessing it was something like "dont ever talk to this guy again. hes a fucking weirdo."
Which i understand. You were trying to protect your friend.
Her last relationship before that was 5 years and seemed to be some mixture of grooming, narcissitic abuse, and manipulation.
I guess you wanted to save her from that experience agian.
I think she probably had a rough childhood too.
Anyway, the point is, if you had a problem with me, you should have come to me.
You had never really talked to me. You never read my blog. How could you know me?
We were just kids back then.
I noticed when i was with this friend, she was very susceptible to persuasion. I never liked the idea of it.
A skill, just to make ideas seem more palatable than they really are.
I think substance should be how ideas are measured, not the sauce, or the wordplay.
Her exact quote was "I like being convinced."
I guess being in a house crammed with 14 other people, you have to learn to be like chamelon and change colors depending on who is near by.
"read the room" they say.

I don't know.

i can only spec on what happened. But people never really tell you truth. https://chatgpt.com/share/c6f562ff-9e3d-42da-af2b-65cc58040479

By the truth i mean that which has predictive power.
The bedrock foundation around why something happens.
The truth like a nucleus of the atom, it is the fabric of cause and effect that underlies the mechanisms and forces that drive all things.


Conflict rarely changes anyones mind.
People whatever beliefs are convient.

2020 was a year when everyone was supposed to work together.
There was a global calamity.

because our mutual friend, told me once that one of her ex-partners had like raped her and been abusive and manipulative and i was like crying it was so painful to hear.
And then later she told me "it wasnt that bad, he didnt force me all the time." and i literally didnt know what to do.
i thought like everyone needed therapy after that.
I just dont understand the unprovoked blocking. Did i wrong you in some way?

She told me you once called me weird in 2019.
i grew beleiving that "normal was considered harmful" and that good ideas were always considered weird.
because alan kay told me that, and he was one of the coolest scientists ever

https://www.youtube.com/watch?v=FvmTSpJU-Xc
https://en.wikipedia.org/wiki/Groupthink

after all this happened, i started taking more pain killers. It was the only way i could get any work done.
I probably should have taken a vacation or just quit. Thinking became difficult.
After that, i gave up on this country.
I grew tired of getting caught in the tangle of other people's lives.
Privy to layer upon layer of facades and contradictory desires.
So i permanently moved to japan, and then Beijing to become a <a href="https://en.wikipedia.org/wiki/Gigolo">gigollo</a>
https://en.wikipedia.org/wiki/Robin_Hood

            </pre>
        </div>
        <div
            id="display"
            class="relative flex h-full max-w-full flex-1 flex-col overflow-hidden "

        ></div>
      </div>
    </div>
  </div>
</div>

<!-- lies are insulting to your intelligence - they think you cant see it .. -->
<!-- <div class="inset-0 flex-shrink-0 overflow-x-hidden bg-token-sidebar-surface-primary" style="width: 260px; visibility: visible" id="sidebar" ></div> -->
<!-- <div class="relative z-0 flex h-full w-full overflow-hidden"></div> -->

<script>
 function toggleSidebar(hideEl, showEl, shouldShow) {
     let currentStateToggled =
         document.querySelector("#sidebar").style.visbility === "none";
     console.log(currentStateToggled);

     if (shouldShow) {
         showEl.style.display = "none";
         document.querySelector("#sidebar").style.width = "260px";
         document.querySelector("#sidebar").style.visbility = "visible";
     } else {
         showEl.style.display = "block";
         document.querySelector("#sidebar").style.width = "0px";
         document.querySelector("#sidebar").style.visbility = "none";
     }
 }

 setTimeout(function () {
     let [hide, show] = ["#hide-sidebar", "#show-sidebar"].map((q) =>
         document.querySelector(q),
     );
     //console.log(hide, show)
     if (show) show.style.display = "none";
     if (hide)
         hide.addEventListener("click", () => toggleSidebar(hide, show, false));
     if (show)
         show.addEventListener("click", () => toggleSidebar(hide, show, true));
 }, 0);
</script>
