Hello world, this is my formal declaration of war upon the united of states of
america. Ammerica is an illegitamte state. Built by slaves, stolen from indians,
and bullying 90% of the world, and 90% of its citzens into submission. What i'm
about to tell you is the honest truth. You are all barbarians. These are the
dark ages. The ottoman is coming. It took 65 years to go from wright brothers to
the moon landing. 2021 - openai+nv = first powered flight 2086 - A fair
government that 90% of people love, and a medical system that can actually
improve well being without stone-age methodology. is that too much to hope for?
I will write here once a day for 30 minutes. And then i will work for 19 hours.
I will code like siddhartha, the first extremist. Until my bones break and until
my flesh rots I will not move until the problem is solved
