

I am, the most damaged person on earth.

The most broken.

the goal is 1 page, no more no less, of the most powerful ideas, turned into implementations that can be repurposed

from 5 different fields that need rework from the ground up


we will review research papers from these fields
and use them to draw conclusions 

1. medical technology
2. the art of mental healthcare
3. robotics, machine learning infrastructure and society 



david cranshaw 



the most painful events of my life
1. my friend dies in a car crash. i knew her father closely. this is when the halucinations began
right before the start of the pandemic, my gf breaks up with me.
she says im too needy via text and doesnt like the way i communicate.
i feel really bad after the breakup, and i start to wonder if its because i drowned in the
bathtub as a 2 year old cause my mom has massive add.
so i try to do a mdma trauma healing ritual on my self.
i was always care ful with sacred medicines before the pandemic.
i didnt drink, only ever really did canabis and lsd.
Everything really change your neuro transmitters.
i liked hamilton morris.
i was kind of a nerd about everything, psycholgy, buddhism, mathemtatics, graphics engineering, literature and biology and so on.

anyway, i measured 440mg of mdma instead of 40.
I had planned to do a 40mg and then another 40 for a total of 80, which was the appropriate dose for my weight.

I hadn't really talked to my ex for 3-4 months.

i viewed her friends story on instagram. he instantly blocks me.

it was the same guy who she told me had previously said i wasnt normal last year.

Alan kay always said

I will revolutionize the  fields of psychology, medicine, and robotics. Permanently.

Improvements in mental health care are worth 500billion to 1 trillion per year.

Medical improvements are worth 3-4 trillion per year.

Improvement in robotics are worth 5-6 trillion per year.

And i believe that these fields are multiplicative, not additive.

That means when you get a big enough powder keg, it will explode.

Zoox 
In september -

i try a little adderall. it actually dosent help at all
specifically, i can feel that adderall doesnt work like it did in 2021.
which means the resperidrone was still blocking my neuro transmitters.
so i had to try to learn and apply difficult camera mathematics in 2 weeks without any help.

and i did. without the adderall. It didn't even work anymore.

That's how fucked my brain was. I couldn't even feel the glass that was still in my foot.


as a child, i was the least nihilistic person on earth.

Whenever my friends had a bad trip, i always knew what to say to pull them back from the brink of despair and insanity.

I had given thousands of tabs. and helped almost 100 people trip out and go hiking.

I thought someday i could be a therapist, maybe around 50 or 60.

and i could help people who were forsaken, or hopeless.
people who felt violent.
people who had lost control.
peple who had outside forces flow through them.

real progress has the resolution of a decade. Anything smaller is noise, or a distraction.

Everybody wants to change the world, no one wants to execute on the same problem space for 20 years.


I don't believe in trans-humanism or any isms or any words from the past.

I believe the future always written, but that we have the power, as unknown variables to re-write it. 



The most important and powerful data we can provide the future

is the experiential data of being embodied in a world that doesnt make sense. 




The human condition changes in stages

1. there are cultures, and fashions, and trends
2. there are fundamental changes 
3. and then there are laws of physics and math which cannot be changed anytime soon.


one fundamental change is this

30% of shakespeare is tragey. but only 8% of top movies are tragedy.

Has life gotten 2-3x times better?

Explore the nature of tragedy allows us to over come it .

i see things in higher resolution
like HDR, high frame rate, 
before, i tended to see either tarnished, or too bloom.
Now everything is perfectly in focus.
I see systems where i once saw objects.
