<div class="hidden" hx-trigger="load" hx-get="/api/hero" hx-swap="innerHTML">
  anus
</div>

<div class="body">
  <div class="flex min-h-full bg-white dark:bg-slate-900">
    <div class="flex w-full flex-col">
      <div
        class="relative mx-auto flex w-full max-w-8xl flex-auto justify-center sm:px-2 lg:px-8 xl:px-12"
      >
        <div
          class="oops"
          hx-trigger="load"
          hx-get="/api/chat"
          hx-swap="innerHTML"
        ></div>
        <div
          class="relative flex h-full max-w-full flex-1 flex-col overflow-hidden"
          hx-trigger="load"
          hx-get="/api/container"
          hx-swap="innerHTML"
        ></div>
      </div>
    </div>
  </div>
</div>

<!-- lies are insulting to your intelligence - they think you cant see it .. -->
<!-- <div class="inset-0 flex-shrink-0 overflow-x-hidden bg-token-sidebar-surface-primary" style="width: 260px; visibility: visible" id="sidebar" ></div> -->
<!-- <div class="relative z-0 flex h-full w-full overflow-hidden"></div> -->

<script>
  function toggleSidebar(hideEl, showEl, shouldShow) {
    let currentStateToggled =
      document.querySelector("#sidebar").style.visbility === "none";
    console.log(currentStateToggled);

    if (shouldShow) {
      showEl.style.display = "none";
      document.querySelector("#sidebar").style.width = "260px";
      document.querySelector("#sidebar").style.visbility = "visible";
    } else {
      showEl.style.display = "block";
      document.querySelector("#sidebar").style.width = "0px";
      document.querySelector("#sidebar").style.visbility = "none";
    }
  }

  setTimeout(function () {
    let [hide, show] = ["#hide-sidebar", "#show-sidebar"].map((q) =>
      document.querySelector(q),
    );
    //console.log(hide, show)
    if (show) show.style.display = "none";
    if (hide)
      hide.addEventListener("click", () => toggleSidebar(hide, show, false));
    if (show)
      show.addEventListener("click", () => toggleSidebar(hide, show, true));
  }, 0);
</script>
