

The power of the pensieve is that it makes the world make sense.




Pensieves are not possible today.

in 2021, i had a dream that there was satellite that could read people minds.

Speicifically, it could read their thoughts, and emplant senations, visualizations, and cognition.



It was basically like neuralink used to make protoss.

When i explained it the doctors, they thought it was schizophrenia.


My life, is now a hypothesis.

I no longer have any attachment to anything in this world.

The only way to cope with an experience that is too crazy and sad for other people to understand.

is either

1. addiction to numb the impetus
2. identification withe world, and with the causal factors that bind us all. rather with self.


since i was a child, i hated this world. i hated all the complacency. i hated how this world hurt people and it expcts
them to either
1. let it go, which never resolves the root caues of anything
2. be a victim, and try against the futility f


What i'm going to create, is a constituion that 100% of the earth can believe in.
and it will believe in

The reason you can trust is because i am anonymous.
I am you.
I don't see good and evil the way most
It's a fundamental deconstruction of every aspect of civiliation that is fucked up.

We are at infflection.

I studied the works of john mccarthy as a child
i studied the works of peter norvig as a child. 


1. neuroscience
2. genomics, molecular imaging and synthetic bioogy
3. robotics, and machine learning infrastructure.
4.
5. redesigning the world to be a humane place
   guided by wisdom
   something that politics, religion, companies and academia are all too small to handle.
   only self-organization can handle it.

At this point, i may become the most capable engineer who ever lived.
so, i will tackle the fields that are most critical to human longevity



I plan to write 4-5 blogs with expertise in 4-5 areas like slate-star-codex.

Lets look at why people fail to updake the wisdom of others .

first, wisdom is most useful in a crisis or problematic sistuation.

Those situations tend to generate emotion. A drop of emotion is like putting tar and feathers
on to the



There are times when i think about avenging aaron swartz or ross ulbricht.

There are heroes who have been villainized as demons.

But if i were to have just 5 or 10 minutes of eyes contact and conversation with the people that prosecuted him,
they would learn to see the truth.

I don't mean through subjugation or persuasion.

but through the delicate and objective exploration of their thinking
until they see how illogical it really is.


i called this a blog. but actually it is a book, or a tomb.
Within its contents, are everything you would need to take a civilization from
barbarian horde to what the ancients first dreamed of eudaimonia

it will take 60 years to complete a 30,000 page draft. 
