 {{define "tele-guidance-frame"}}
 <iframe src="http://localhost:3003/?idk={{.}}" class="h-80 w-full"></iframe>
 {{end}}

<div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
  <p
    class="mt-2 max-w-lg text-pretty text-4xl font-medium tracking-tight text-blue-200 sm:text-5xl"
  >
    Robotics made simple, easy, and fun.
  </p>
  <div
    class="mt-10 grid grid-cols-1 gap-4 sm:mt-16 lg:grid-cols-6 lg:grid-rows-1"
  >
    <div class="flex p-px lg:col-span-4">
      <div
        class="overflow-hidden rounded-lg bg-gray-800 ring-1 ring-white/15 max-lg:rounded-t-[2rem] lg:rounded-tl-[2rem] w-full"
      >
        <div id="livekit-container" class="h-80 w-full">
          <img src="https://files.hashirama.blog/static/blog/5.png" class="h-80 w-full" />
        </div>
      </div>
    </div>
    <div class="flex p-px lg:col-span-2">
      <div
        class="overflow-hidden rounded-lg bg-gray-800 ring-1 ring-white/15 lg:rounded-tr-[2rem]"
      >
        {{template "tele-guidance-frame" "democracy-mode"}}
      </div>
    </div>

    <div class="flex p-px lg:col-span-2">
      <div
        class="overflow-hidden rounded-lg bg-gray-800 ring-1 ring-white/15 lg:rounded-bl-[2rem]"
      >
      {{template "tele-guidance-frame" "hardware_notebook"}}

      </div>
    </div>

    <div class="flex p-px lg:col-span-4">
      <div
        class="overflow-hidden rounded-lg bg-gray-800 ring-1 ring-white/15 max-lg:rounded-b-[2rem] lg:rounded-br-[2rem]"
      >
        {{template "tele-guidance-frame" "diffusion-policy"}}
      </div>
    </div>
  </div>
</div>
<!-- <script src="js/livekit-viewer.js"></script> -->
