
{{template "head.html" . }}
https://github.com/nerfstudio-project/nerfstudio 
https://github.com/YanjieZe/3D-Diffusion-Policy
<!-- 9 posts - awahab.com - 172 blogs - siggrahp -->
<ul class="text-blue-500">
  <li>voice_reactive_particles</li>
  <li>figma_to_animation</li>
  <!-- <li>flux</li>
  <li>git_viusalizer</li>
  <li>stixels_voxels</li> -->
</ul>
{{define "cgi-label"}}
<!-- <div class="text-blue-500 component-label-{{.}}"></div> -->
<script type="module">
  const label = d3.select(`.label-{{.}}`);
  const component_label = d3.select(`.component-label-{{.}}`)
  component_label.text(label.text())
</script>
{{end}}


{{define "cgi_iframe" }}

<div class="container-{{.}}"></div>
<iframe class="h-full w-full" style="height:1000;" src="/cgi-backend/{{.}}"></iframe>


<script type="module">
  const scoping = `{{.}}`
  const url = `/cgi-backend/`
  console.log('fetching ', url)
  const container = document.querySelector(`.container-${scoping}`)
  
  const bun_output = d3.select(container).append('div').attr('class', 'bun-output')
  const observable_output = d3.select(container).append('div').attr('class', 'observable-output')
  const deno_webgpu_output = d3.select(container).append('div').attr('class', 'deno-webgpu-output')
  
  const data = await d3.json(url)
  console.log('data ', 'resposne sucede', data.both)
  //window.data = data
  if (data.type === 'both') {
    console.log('both')
    container.innerHTML = data.html
    eval(data.js)
  }else 
  if (data.type === 'html') {
    container.innerHTML = data.html
  } else if (data.type === 'text') {
    container.textContent = data.text
  } else if (data.type === 'js') {
    container.innerHTML = data.html
  } else if (data.type === 'json') {
    const style = document.createElement('style');
    style.textContent = data.css;
    document.head.appendChild(style);
  }

const jsonData = {
  edited_content: 'blalbalhal',
  fileContent: 'blalbalhal',
 
}
</script>
{{end}}


{{define "cg_grid_cell"}}
<div class="relative lg:col-span-4">
  <div class="absolute inset-px rounded-lg bg-white"></div>
  <div
    class="relative flex h-full flex-col overflow-hidden"
  >
    {{template "cgi_iframe" .}}
    <div class="p-10 pt-4">
    </div>
  </div>
  <div
    class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5"
  ></div>
</div>
{{end}}

<div class="bg-white">
  <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">

    <div
      class="mt-10 grid grid-cols-1 gap-4 sm:mt-16 lg:grid-cols-6 lg:grid-rows-2"
    >
      
    {{template "cg_grid_cell" "voice_reactive_particles"}}
    {{template "cg_grid_cell" "flux_test"}}


    </div>
  </div>
</div>

template "grid_cell" "replay_analyzer"

<pre>
  https://youtu.be/EmlWBsU48cU?si=WhCwasDMhRoV08Wz
https://mitp-content-server.mit.edu/books/content/sectbyfn/books_pres_0/6515/sicp.zip/index.html
https://youtu.be/DQEa3IeqcOk?si=oN3V8daexhDBINtM
https://zed.dev/docs/extensions/developing-extensions
</pre>
