{{if .IsStoryBook }} {{template "head.html"}} {{end}}
<!-- adnan at 27 - asked him self many times - what should id do life  -->
<!-- did tech - it was fine + fun but infinitessimal compared to scope problems + human condition -->
<!-- AI = 100x force multipler  - -->

<!-- instead of asking what adnan should with "his life" -->
<!-- why not ask "what is best highest good he can do with the life that bleongs to others. -->
<!-- because quite frankly from 1-25 = fun happy bear - do naything you want - no  one says fuck you -->
<!-- 25-30 = you become guardian of the earth  -->
<!-- at that age in 200,000 years ago - 30 = SAGE - elder wise - Seer - far distnaces - how? because experience - wisdom
    - see around corners - see through walls - see ythough bias, see through miasma - see -- see see
    why? do you know this?

    because the first "deificiaton" from the frist civilziatoon - ancient babalyonia - hammurabi ----- invented LAW
    law = how civilziation conauered nature - how civlziation cocnqured human nature - juris prudence = good


    law + order + knowledge = glues scoeity togeher ...


    <<><

    write to self code for self no one else - just for one week - and thne figure what the chips are how they are meant to fall for the future -
-->

<!-- /// maarkdown elelmtsn  -- find comments + latex _ LLM -code ggen lcient side asy you isntantnylanr pics too -->
<!-- dad says - 3 things

1. computers are for computing not video games - what is compunting?? why compute? - solve probelms
  use video games to solve problems - untapped intellignece -

  some people just dont fit in school ause their brains shoot sparks - 100 hours now takes 5 minutes
2.

ai means you catch up if you are behind - proof = adnan
top 5 discoveres of 2014-2024
crispr, llms, robotics,


music theory -> color theory -> scales

literally write 1 post per day - 7 days - 2 years =

language is useful to practive - beecause you tell lLMS and RObots what you want - speicficity high reoslution
get past - from others - or just CREATE NEW SHIT - every moment - always create from scratch


download all profiles of 100 friends who did cool shit - make cool stuff -


make the ocolest stuff - that non one belives in possible -

9 - magic cube

frontend - (webgl, typography, grids, colors, bret-victor cognition/reasoning/seeing)
backend - (linux, connectivity/networks, storage, compute)
Math + ML - (compute -> perception,prediction,planinng, LLMS)
LLM-jitsu = magic scquare container



(webgl/3d, robotics, Literary-theory/LLM-JITSU)
-->
<!-- https://en.wikipedia.org/wiki/Alan_Kay -->
<!-- <pre>

aLan Kay _biography
1940 - born - Dad = doctor
-> molecular + mathematics major - takes time off sometime between starting school and finishing
     to take a year to teach guitar -

1966 Graduates 26 - late bloomer
1969 - Phd for FLEX (research this paper ) - worked with https://en.wikipedia.org/wiki/David_C._Evans
1969 - Sees

1968 - met seymour paper - logo - jean piagent, jenome bruner, lev vygotsky- oconstructionist learning
1970-1975 - 30 years old - ipad, kindle, GUI-windows,

----
1981-1984 - atari (scientist) - marrid to https://en.wikipedia.org/wiki/Bonnie_MacBird - who wrote TRON
1984-1997 - apple advanced technolgoy
1997 - Disney Imagineering

2001 - VRI - founded - dedicated children +  learning - applied minds
2002-2005 - HP LABs


2005 - 1 laptop per child - $100 (Jetson nano is close enough) -


All terms + peoeple - linkify
- cross-references
alan kay is tron - c2.wiki -

----

2005 - One laptop per child



Key Terms +


Key People
jean piagent, jenome bruner, lev vygotsky- constructionist learning
https://macbird.com/ - alan was 44 - same aas paul graham

Key Inventions
- Dynabook = ipad
- Object-oriented programming - modern open source - github
- Smalltalk - modern IDE - android studio, xcode, etc.
- Windows -
- Graphical user interface -
- Desktop metaphor - place to put files -
- Modern internet / LAN


Colleagues @ Park


Bibliographys - <!-- find what sources he referenced  -->
1. FLEX - https://apps.dtic.mil/sti/pdfs/AD0761962.pdf 2.
<!-- how did what he make - become what is now? ----------- ourney -->

<!-- <pre class="hidden">
jesse levinsion

father = chairman of apple - probably learned technology strategy over dinner via osmosis for 28 years
school @ stanford
- made an iphone app with millions of users
-
- zoox  - tim kenktley made a documenrary - 10 years

met him in elevator - skipped orientation where introduced - saw him on weekly all-hands every week
no public presence - low profile - https://www.reddit.com/r/SelfDrivingCars/comments/kdxcky/hello_reddit_im_jesse_levinson_cofounder_and_cto/
</pre> -->
<!-- training data  for  psychoemtrric profile -> dataset for -> cognition engine-->

<!--
cognition engine - reserch papers -> tools+apps+visualizations+bibliopgrahy/biography
why

because who makes these papers

who reads these animations?


synthetic data sets - to train AI

1. 10,000 books
2. 10,000 podcasts, youtube,


ues cognition engine to figure out github-projects -> readmes


type a blog -> get gifs / images shooting out of your GPU-cluster
3d-annotation - robotics - use humans to label data -> autolabeling PCP pipeline ->



https://www.linkedin.com/in/kaelanr/ -> anyone who wants to work hard for 3 years = hundred-thousand-thaire
is the easy money from ai gone? maybe

but is the big moeny gone? probably not. how do we know - alex wang


future economics = post-ai post robotics economics

chat bots can do anything a human can think or click
why is chat a chatbot -> its an excellent way to gather new data of what humans are learning, doing and thinking to

"fuel" new advances in "algorithms" that imbue gpu - sillicon wafers with the abilty to out-think any human bean on earth in 5 - 10 years .



how did it get designed so simply???


sam altman - he basically read paul grahas blog



why a human cognition engine? -> fancy ai - chatbot+transformer -> transform stencen to embedded

trasform -> sentence -> animation + disagram living + why living -> data is LIVE updated (reacitivly ) according to a timestamp


meainingi it is an immutable data structure


meaning - every change to it has a timestamp


instead of a list of shit - 10 words

its 10 words spoken at this moment in time oct -2-2024


this datum - tells us the "state" of some ssystem.

and what is the "state" --- a configuration of atoms and electrons

information theory -

its the idea that some information - has some sort of self-referential strucutre

Godel escher bach



- 10,000 books
- 10,000 research ppapers
- 10,000 videos, podcasts, comic-books
- 1,000 people
- kaggle - 100 datasets

- sligthly tune - this collection - get different images -> continuious evaluation as you browse



key people - people like marc andressen - who are like the medici - who funded michelangelo.

WHy?


well ..... we wnat to know both sets - economy --- fortune 500 = echoes

what creates the economy? mostly small business owners -> who reate new things ->

those new things -> get bought -> and those commerces -> spread through the population - make them happy yay


and thats basically the ycle



economy = just collection of memes

memes are not images -they are ideas

a human bean itself - is also a meme - our dna is just a structure which replicates across time given the ocrrect envionrmnet


a human ctronl the environment - making it easier to spread the meme
and a human control its own neurons - to produce new memes -w hich may have better surivval characteistis


and theese memes may have properites, which when imbibed by the human - improve the human's survival characterisics


at the end of the day - humand just want

1. to be happy - which is a signal that our environment is optimal for the production of optimal memes
2. and to create memes wghich propagrate across eternity.


fact is - people will remember newton forever. There will never be another person to discover gravity and it's "law"s


I saw "law", becuause einstein ->


just graph traversal ->


gpu algorithms ---- note the important to ai

what is ai?

john mcmartchy founded it in 1969 - before that it was ust an esoteric occult branch of mathematics



In summary this is just Dalle-3.0 or so - because Dalle2 doesnt do animations well

why animations important? they tell a story -> our brains are adapted to create constancy from repeated images with subtle transformations


learn math - geomtetry- lockhart

cliff notes all books -> dont know what the cliff notes should
RL - learning

learn more ML from scratch -> make functions which do the basics
and then use LLama + OpenAI + antrohpic -> all diverging -> use them to tie all together


do that in a way - that others can fork and combine - in a idffernt way than hugging face / replicate

not sure why or how- just becuase fun


- 10,000 books
- 10,000 research ppapers
- 10,000 videos, podcasts, comic-books
- 1,000 people
- kaggle - 100 datasets

- sligthly tune - this collection - get different images -> continuious evaluation as you browse


vizom - 30 people - Single RTX 4090: On a single RTX 4090, Stable Diffusion inference (generating an image) can take 2 to 4 seconds per image at default settings (512x512 resolution, 50 steps, single image). If you're training, a large batch might take several minutes to hours per epoch depending on the data size and setup.



point is bret victor and alan kay and people like that - have this done for them and contribuet to the process.

if everyone uploaded their colletion of useful things ->


survey the "ai industry"

kalzumeus

write this in a way that anyone can follow the steps -> see the output


3 outputs
gifs - lotties - video
js animations -> living diagrams
apps ->

write a tech spec -> get back a diagram -> connect that digram to reality -> using data from ???

What data represents "absolute truth"

rendering layer - slightly different
robotics-first

how make good new ai        (app,startup, research, anything)

make up training data set ->            ->

fabricate => gen model - 9th grade


its not that profound - it can be another model.

you have something others migth not - wizards sending happy visions - capture as much knowledge, perspective, fun, pragmatism


cognition - humans making sense of world - bret victor = researching the frontier of using pictures to imrpvoe human intelligence


chatbots clearly do that - ask a question -> get a response.

most conversations human-to-human are like 30% questions --- learn linguistics


learn the theory behind bert


1. LLMS, (gpus, )
2.


blog = not a blog -> latent representation rendered into english


most likeyl juts an icnremental improvemtn - fun
game theory + gravity + lgiht bulb - incremental improvements -> but no one was doing the incrementalism.

dropbox - was just rsync - iphone was just an overpriced blackberry


----
the future doesnt have to incremental
find stuff that openai doesnt have time for - because its too dififuclt to scale gpus and chatbots to 200 millon people


2023 - doing research with chan-zuckerberg - https://openproblems.bio/ - daphne kolelr - insitro


just take the same atoms as everyon else -> just blend them in a different way? not even that different -> you might get a knowledge-transference device

and a very specific kind - that openai- and any company seeking profits would not make for 2-3 years .


but its just a simple app that would plug very nicely into 2 things

1. dynamicland
2. robotics (unviersity)

if we make humans 20% smarter in very specfic areas, then robots could be 10x smarter.

how?

1. spatial reasoning -
2. perspective drawing
3. collaborative image synthesis - make a whiteboard -> VV's figma

minesweeper - solitare -> primagen "humans crave"


most likely my friends will not get it till 2025 or 2026. thats okay - launch tomoroww

what does openai+anthropic not really do yet??????????


               hashirama.blog
               1.

               https://roamresearch.com/
               https://notion.so
               https://google.docs

               future wikipedia - all sciene = done on observable/jupyter notebooks - everyone can execute and see that i t works

               not only that - they can be updated live -> output a markdown blog -> keep certain versions -> as records -> this one version was proofed


               research paper doesnt have to be static -> it can be a living function -> make it simple though
               its a spec for some kind of app -> inputs -> outputs


               Reflect -> database -> editor ->
               dont have to type -> uplaod
               they dont have anpi -yu ocan make one
               kirby-mode - 10 apps - rescue
               use playwright -
               clarityjs


               10,000 people you like - peopel are books - 1 secret as cool as book - probably many that will never be seen
               that 1 secret = their - (find everyone's giftednes)
                - game has multiple modes
                  - RPG morrowind  - world of warraft (open world - streamgame ) - game-master guild-masters pvp - pve 10 roles
                  - RTS starcraft - miners, builders, buildings, drones, stealth, magic-casters, etc.
                  - simCity - SimTower - simHospital - osmosis jones command - inside out
                  - dark souls - previous meta b4 - add onto navals theory "single player"
                  - ghaleb
                  - jobs are games
                  - relationships are kinda games at the start - win/win i hope - basically sims (literally most popular game of )
                  - gwent, magic the gathering,


                  render-buffers true blog - MMO-blog - 1 million people add random shit - 30% graffiti - 30% cool ideas never thoguht - 30% refiniemnets etc 10% unknonw

               make webviz+(3)

               1. Devops
               2. Robotics & Embedded Systems
               3. Machine Learning Infrastructure
               4. Mathemagic and Statistics
               5. Design and User Interface - 5

               users edit posts - inline w/ chatbot -> buttons -> 3 possiblities -> 10 possiblites
               chain of thought of reasoning -> for UI to -> AI -> UI?
          gens infra -> writes code into the heart of your git source code commit -> loop or if people agree

          the yahoo founders wer probably as smart as the google founders in raw talent - but thats the power of an idea and perspective - vinod khosla
          yes  - out of top 10-20% of companies


          learn probabiltiy - 2 weeks
          learn linear algreabra - 2 weeks
          learn theory of computabiltiy theory - start at cool stuff -> work down to fundamentals -> demo

          pioneers + tech uber nerds - 1000
          zoox = world class - how many people? top
          3 million programmers -
          early-adopters - 3% -

          Tim ferris -
          1000 people
          10,000 books - alan
          1000 videos/

https://www.youtube.com/watch?v=MCVj5RZOqwY&pp=ygUKYXZpIGJyeWFudA%3D%3D

avy bryant had a talk 2010 - he said you dont have just to build stuff
- you can take the coolest ideas of research papers and implement and thats kind of what they want
he made dabbledb - and it wasnt relaly get traction despite being an amazing product

but he pivoted slightly becaues he saw most users were using it for one thing - used same infra
and then made visual-ly and then got acquired and was very happy.

because of that-  i looekd at d3, and then liked it  so i looked up jeff heer- found the immens paper - parallel query processing - got to meet lots of people including bret victor



-------



          people -
          books -
          youtube_podcasts_soundcloud_
          diagrams -
          research_papers (avi)
          ||
          \/
          gif-engine --->
<!-- figma -> diagram static -> "parameterize" -> living diagram -> pipe those inputs
to robots -> try out- take nebulous concepts from an abstract like the theory of
robotics or biotech or govtech then you can make a representaiton of a mental
model - that mental model can be explored dynamic land it - show all possiblites
across time spec = description - of complex system's behavior spec = 100 lines +
pic + tests + users want ----------------------------- 1. Devops 2. Robotics &
Embedded Systems 3. Machine Learning Infrastructure 4. Mathemagic and Statistics
5. Design and User Interface - 5 code = work done + other_shit(sicp) //6.
linguistics / art t make an api - simon
https://karpathy.github.io/2016/09/07/phd/ - 7 year phd hardware + visualize
mental models - try diferent stractures + algos for get 100 list ->
http://cs231n.stanford.edu/ https://www.cs.toronto.edu/~hinton/ transform 1
ddats ctures into another into another into antoher over and over
human-in-the-lopp top 100 1. Devops 2. Robotics & Embedded Systems 3. Machine
Learning Infrastructure 4. Mathemagic and Statistics 5. Design and User
Interface - gen 10 top-HN quality and top-reddit qualtiy blog-posttitles each -
get 10 top 100 books each , top 100 blog each, top 10 youtube each, sota 3 UI -
reactive(vue, obs, jeff-heer), declartive, bret victor Backend - Infra(data
pipelines), connectivity(tailscale,etc), compute(ML-infra/MLOps/LLMOps) Math +ML
- (Prediction, Ai-Planning, Motion-planining, RL, supervised, zero-shot)
Simulaiton for training data sets for ai - for filling in gaps in ai-data and
handling edge case Magic Square (3x3) 2 giant json top 100 blogs for each
category 100 youtube for all 3 () https://www.youtube.com/c/theprimeagen
-------- 6 months 2021 - barely worked at all -> took work to recolor a button
2022 - gpt launch 2024 -> used it by accident and it wrote ui componetns that
were nicely colored better than what you would have -> 30% more abiguious end of
this month - launch -> first robotics AI-first course -> karparhy will do it for
all other fields -> try yours launch by oct 4 collect feedback - launch 3x - 3
people will use it 10th - 10 people use it 30th - 100 people to use - 1 signup
to course -> 0 price for first 10 people -> $100 -> no upsell -> command my
robot -> make your own or buy this one -> point to waveshare.com supporting
infra -> rtings.com -> 5 seconds people are rethinking everything from scratch -
launch a new app every other day - doesnt have to make money every time- but
that is the goal 12 hours to explore + 3 hours improve ops + design system (3js,
linux-shit, scripts, apis, datasets, models, hardware) , 12 hours to just launch
every 48-72 hours -> twiter post + intagram + tiktok + "they gave me a
youtube.com" -> playwright -> make a button in arc -> make a tool -> add the
page -> click the divs you want -> gives you the json extension that just
"engish prompt" -> js fork a extension like reflet -plug into hashirama blog -
live-eval -> user edits -> store them -> let users adjust blog store adjusments
april - shipped a 30% reasoning increase for free for no reason ----------
shipping a few new tools for developers today! from last devday to this one:
*98% decrease in cost per token from GPT-4 to 4o mini *50x increase in token
volume across our systems *excellent model intelligence progress *(and a little
bit of drama along the way)

<pre class="hidden">
Paul graham ->
</pre>

<pre class="hidden">
carmack
</pre>

<pre class="hidden">
    worrydream
</pre> -->
<!--






1. ML
    meyorvich
    valdman
    catalystclass + deepatlas.ai
    all of zoox - swarmbotics,


2. Hardware
    palmer luckey
    wozniak


3. Design
    worrydream
    tufte
    will wright
    david cole - school of hard knocks

4. infra
    data-pipelines (tinygrad, zoox's meta-lbeling)
    storage, computer, networks/connectivity



  recomb your ntwork - 26 weeks - 2600 people
-->

<!-- <pre class="hidden">
 adnan
 22 - https://gist.githubusercontent.com/anonymous/raw/9655620/#10 pathgl - https://www.youtube.com/watch?v=cTyBiqH2elU&t=296s - https://www.meetup.com/login/?returnUri=https%3A%2F%2Fwww.meetup.com%2Fbay-area-d3-user-group%2Fevents%2F170226852%2F
26 - samasoruce - created 250k jobs and counting
29 - zoox - "greatest robotics company in wrold"

32 - contriubted to Robotics.university / Robotics-odyssey.com /


1992-2010 - 18 = ?
2011 - playing warcraft and goofing off
2012 - bookfresh -> square
2013 - monsooncompany -> capital.one
2014 -

Key People
firass amra, derek salama, tanner, jornda, - show all of them - "its a cool site" - its not a site -" its robotics you control from your fuckign phone"

catalst-class 2012

katsnellson
Patrick.js
Enjalot - https://substack.com/@enjalot/p-149046704 - https://enjalot.github.io/ https://enjalot.github.io/resume/ - 200 - 5 years older - 2014 - only 27
Key Terms

Key
</pre> -->

<!--  -->
<!--  -->
<!-- fear makes people "incompentent" because comepterence requries undrstanding which requires a still mind
        maybe - not sure - if youre afraid a tiger can you observe it? idk

        fear deletes cmopassion
        fear detels ..


-->

{{if false}}
<div class="relative">{{template "periodic_table.html" .}}</div>
{{end}}
<!-- https://news.ycombinator.com/item?id=11939851
 -->
<!-- look at all stars + source all people u like -->
<!-- <button
  hx-get="/make_cognition_engine_backend"
  hx-trigger="click"
  hx-target="this"
  hx-vars="url:'https://tinlizzie.org/IA/index.php/Papers_from_Viewpoints_Research_Institute'"
>
  asdfasfd
</button> -->

<!-- alan kay and his friends created at least 30 trillion dollars in wealth.-->
<!-- <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
"https://d1wqtxts1xzle7.cloudfront.net/39850910/Planning_and_Visualization_for_Automated20151109-22967-16vh9pi-libre.pdf",
<div class="iframe_place"></div>
<script type="module">
  -->
<!--
/// 8.5 inventions - 25 researchers - 5 years - $10m -> at least 30 trillion est
2014 // animate all these graphcs - > bostock them - // const urls = [ //
"http://www.vpri.org/work/ifnct.html", //
"http://www.vpri.org/work/tlpiese.html", //
"http://www.vpri.org/words_links/links_tlpiese.htm", //
"http://www.vpri.org/work/pichri.html", //
"http://www.vpri.org/work/uitald_olpc.html", //
"http://www.vpri.org/work/ifnct.html", //
"https://tinlizzie.org/IA/index.php/Talks_by_Alan_Kay", //
"https://tinlizzie.org/IA/index.php/Papers_from_Viewpoints_Research_Institute",
// ]; // const links = [ //
"/static/alan_kay/tinlizzie.org_IA_index.php_Talks_by_Alan_Kay.html", //
"/static/alan_kay/www.vpri.org_words_links_links_tlpiese.htm.html", //
"/static/alan_kay/www.vpri.org_work_ifnct.html.html", //
"/static/alan_kay/www.vpri.org_work_pichri.html.html", //
"/static/alan_kay/www.vpri.org_work_tlpiese.html.html", //
"/static/alan_kay/www.vpri.org_work_uitald_olpc.html.html", // ]; // training ai
--- prompt (person,comic) -> animation //
https://github.com/andytudhope/APerspectiveOnTechnology/blob/master/AlanKay.md
//https://github.com/worrydream/EarlyHistoryOfSmalltalk
//https://github.com/search?q=alan%20kay&type=repositories // animate coolest
ideas from alan kay by hand - kerpow - venn diagrma - //
d3.select(".iframe_place") // .selectAll("iframe") // .data(links) // .enter()
// .append("iframe") // .attr("src", (d) => d) // .attr("width", "600px") //
.attr("height", "400px"); // const markdownUrl = //
"https://raw.githubusercontent.com/matthiasn/talk-transcripts/master/Kay_Alan/NonIncrementalFuture.md";
// Fetch the markdown content // fetch(markdownUrl) // .then((response) =>
response.text()) // .then((markdown) => { // const htmlContent =
marked.marked(markdown); // d3.select(".iframe_place").html(htmlContent); // })
// .catch((error) => // console.error("Error fetching the markdown file:",
error), // ); -->
<!-- </script> -->
<!-- https://en.wikipedia.org/wiki/Alan_Kay -->
<!-- http://harc.ycr.org/ -->
<!-- dan amelang -->
<!-- download paul grahams tweets -->
<!-- https://www.openresearchlab.org/studies/unconditional-cash-study/study -->
<!-- https://hackernewsbooks.com/ -->
<!-- https://www.ycombinator.com/library -->
<!-- https://hn.algolia.com/?q=alan+kay -->
<!-- <div class="grid grid-cols-2 gap-4">
  <div class="list-view">bret victors ideaa</div>
  <div class="detail-view">on click book -</div>
</div> -->

<!-- <div class="bg-slate-700">
  <h3 class="text-[#B1B2DD] text-xl">
    Measure progress on alan kay's 10 problems in every mind in every
    negihborhood
  </h3>
  <h3 class="text-[#B1B2DD] text-xl">
    8 billion vectors once lacked direciton
  </h3>
  <h3 class="text-[#B1B2DD] text-xl">
    a vector of magnitude 1 cannot solve any serious problem alone
  </h3>
  <h3 class="text-[#B1B2DD] text-xl">
    most of the big problems we face today require an activaiton energy to make
    any progress
  </h3>
  <h3 class="text-[#B1B2DD] text-xl">
    without unificaiton, we cannot solve any of these problems. we can only make
    them worse
  </h3>

  <h3 class="text-[#B1B2DD] text-xl">
    Tools and knowledge are only liek an ezyme, they lower the energy needed
  </h3>
  <h3 class="text-[#B1B2DD] text-xl">Ai, is cool, but it is only an enzyme.</h3>
  <h3 class="text-[#B1B2DD] text-xl">
    if we workt together, we can solve all problems, not in 1000 years, in 5.
  </h3>
  <div class="text-[#B1B2DD] text-xl">
    combine alan kay with will wright = speed run eutopia
  </div>
</div> -->
<!-- periodic table - tmplate - read datajson to
explosion of ideas -->
<!-- https://tinlizzie.org/IA/index.php/Talks_by_Alan_Kay -->
<!-- </>https://d3js.org/getting-started<> -->
<!-- comptuer sccreen = one persepctive - 2 way mirror  -->
<!-- all our screens combined = icosadredon -->
<!-- dynamicland = promised land = no screens - ___ free from disembodied  -->
