periodic table - tmplate - read datajson to explosion of ideas

<div class="grid grid-cols-2 gap-4">
  <div class="list-view">bret victors ideaa</div>
  <div class="detail-view">on click book -</div>

  <div class="relative">{{template "periodic_table.html" .}}</div>
  <div class="relative">{{template "periodic_table.html" .}}</div>
</div>
<!-- <script>
  fetch("https://dynamicland.org")
    .then((response) => response.text())
    .then((data) => {
      const element = document.createElement("div");
      element.innerHTML = data;
      document.querySelector(".list-view").appendChild(element);
    })
    .catch((error) => console.error("Error fetching data:", error));
</script> -->
<!-- everyones app should be a linked view to all others -->
<!-- <script
  src="./"
  type="module"
  class="parameters"
  style="display: none"
></script> -->

<!-- template learning -->
<!-- support functions like  printef, eq, custom-functions-->
<!-- parse, parefiles, execute, executretemplate -->
<!--  -->
<!-- storybook - oct 1 -->
<!-- biggest fan of (bret + alan) (w/ humor + robotics) world has seen -->

<!--

eta - 2025
sodium - niacin - toxic apart - together = foundation of civilization -->

<!--
ai + robot = rethink everything from scratch = even better
knowledge economoy  = new idea - outizsed returns maybed

amber: More expressive and concise, similar to HAML or Jade.
jet: Offers a more feature-rich template engine, with better performance and syntax sugar.
pongo2: A Django-like templating engine. -->
