{{if .IsStoryBook}} {{template "head.html" .}} {{ end }}
<div class="container mx-auto px-4 py-8">
  <ul class="list-disc list-inside">
    <li class="text-lg text-gray-700">Outliers</li>
    <li class="text-lg text-gray-700">Flitlflorw</li>
    <li class="text-lg text-gray-700">Applications</li>
  </ul>
</div>
<div>
  <!-- screenshot to git visualiztion show 50 iterations - branches -->
  <ul class="list-disc list-inside">
    <li class="text-lg text-gray-700">screenshots</li>
    <li class="text-lg text-gray-700">label image</li>
    <li class="text-lg text-gray-700">exec agent on text</li>
    <li class="text-lg text-gray-700">-----</li>

    <li class="text-lg text-gray-700">
      inject slice from agent into yank tree
    </li>
  </ul>
</div>
<div>
  <pre>
  input topics
  1. devops
  2. design
  3. robotics
  4. math
  5. ?
  6.  creative ai
  7. ml (llm / computer vision)

  50 each
  david cole
  bret victor
  gwern
  robert heaton
  kalzueues
  who has a robotics blog ??!?!?! ?!? ?!?!
</pre
  >
</div>

import reflect - single source of truht -
