{{template "head.html" . }} avatar notebook = proxy this - playwright - upload
png or webrtc
<!-- use llm - to identify which parts are the top-level - how they can be - add sliders 
 

where to piut the llm - code that users - gen via buttons mostly - 3 possitibilies at every step - 9 
-->

<iframe src="https://madebyevan.com/webgl-water/"></iframe>
<iframe
  class="w-full h-screen"
  src="https://worrydream.com/LadderOfAbstraction/"
></iframe>

<iframe
  class="w-full h-screen"
  src="iframe-proxy?url=https://threejs-journey.com/"
></iframe>
<pre>

    <li class="hover:bg-gray-200" hx-get="/kirby-ui">1. <a href="#">https://threejs-journey.com/</a></li>
    <li class="hover:bg-gray-200" hx-get="/kirby-ui">2. <a href="#">worrydream/ladder-of-abstraction</a></li>
    <li class="hover:bg-gray-200" hx-get="/kirby-ui">3. <a href="#">waterbyevanwallace</a></li>

</pre>

<script>
  const handleClick = function (e) {
    const url = new URL("/kirby-ui", window.location.origin);
    url.searchParams.append("url", e.textContent);
    console.log(e);
    fetch(url, {
      method: "POST",
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error("Network response was not ok");
        }
        return response.text();
      })
      .then((data) => {
        console.log("Success:", data);
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  };
  //handleClick(document.querySelector("li a"));
  document.querySelector("li a").addEventListener("click", handleClick);
</script>
https://spline.design/
<div>
  for any page or code -> subdivde any thing into 100 line chunks -> then ask
  llm to do small change -> debug each "pass" -> until it work good -> then add
  slider = cool
</div>

<!-- someday import any robot or gpu 1 line - free 2040  -->
