{{if .IsStoryBook}} {{template "head.html" .}} {{end}}
<!-- innervate -->
<!-- another one review -->
<div class="contact bg-slate-700">
  <h1>office hours</h1>
  {{if true}} {{template "calendar.html" .}} {{end}}
  <div></div>
  <div>
    <style>
      .shit {
        box-shadow: inset 0 0 0 1px #ffffff1a;
        box-shadow: inset 0 0 0 1px #ffffff1a;
        margin-top: -0.2857142857142857em;
        color: #f8fafc;
        background-color: var(--tw-prose-pre-bg);
        overflow-x: auto;
        font-weight: 400;
        /* font-size: .875em; */
        /* line-height: 1.7142857; */
        margin-top: 1.4285714285714286em;
        /* margin-bottom: 2.2857142857142856em; */
        border-radius: 0.75rem;
        padding: 1.25rem;
        box-shadow:
          0 4px 6px -1px #0000001a,
          0 2px 4px -2px #0000001a;

        background-color: #0f172abf;
        border-color: #f8fafc0f;
      }

      .shit .token {
        color: rgb(244 114 182 / 1);
      }
    </style>
  </div>
</div>
