<main class="text-blue-100 px-6">
  <!-- <img alt="Optimized" width="1310" height="872" src="https://github.com/adnanwahab/hashirama/blob/main/services/homelab-status-page/static/images/blog/Optimized.gif?raw=true" style="color: transparent;"> -->
  <!-- <img alt="Optimized" width="1310" height="872" src="https://lh3.google.com/u/0/d/1voPFeDGx6TiQ-D4PsJFn0pE9UskYf1DX=w3456-h1984-iv1" style="color: transparent;"> -->
  <!-- <div class="mx-auto w-full max-w-7xl lg:px-8">
    <div class="relative px-4 sm:px-8 lg:px-12">
      <div class="mx-auto max-w-2xl lg:max-w-5xl">
        <div class="xl:relative">
          <div class="mx-auto max-w-2xl">
            <a href="https://hashirama.blog/" class="">
              <span
                aria-label="Go back to articles"
                class="border border-white rounded-md p-2 group mb-8 flex h-10 w-10 items-center justify-center rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition lg:absolute lg:-left-5 lg:-mt-2 lg:mb-0 xl:-top-1.5 xl:left-0 xl:mt-0 border-zinc-700/50 bg-zinc-800 ring-0 ring-white/10 hover:border-zinc-700 hover:ring-white/20"
              >
                <svg
                  viewBox="0 0 16 16"
                  fill="none"
                  aria-hidden="true"
                  class="h-4 w-4 stroke-zinc-500 transition group-hover:stroke-zinc-700 stroke-zinc-500 group-hover:stroke-zinc-400"
                >
                  <path
                    d="M7.25 11.25 3.75 8m0 0 3.5-3.25M3.75 8h8.5"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <section class="">{{template "email-timeline.html" .}}</section>

    <section class="">{{template "email-intro.html" .}}</section>

    <section class="">{{template "email-grievances.html" .}}</section>
    <section class="">{{template "email-book-club.html" .}}</section>
    <section class="">{{template "email-adnan-bio.html" .}}</section>
    <section class="">{{template "email-evidence.html" .}}</section>
    <section class="">{{template "email-footer.html" .}}</section>
  </div>
</main>
