<div class="eggnog">
  <div class="page home" style="background: #140b29">
    {{if false }}
    <section class="js-hero hero clear-selection is-not-interacting">
      template "journey-hero.html"
    </section>
    {{end}} {{if false}}
    <section class="active-community">
      {{template "active-community.html" .}}
    </section>
    {{end}} {{if true}}
    <section class="summary">{{template "summary.html" .}}</section>
    {{end}} {{if false}}
    <section class="projects">{{template "projects.html" . }}</section>
    {{end }}
    <!-- <section class="beginner">{{template "beginner.html" .}}</section> -->
  </div>
  <link rel="stylesheet" href="static/css/combined.css" />
</div>

<!-- tihinking = underavlaued bc - thoughts -> reality === was dfiicut - now ez morde  -->

<!-- <link
  rel="stylesheet"
  href="https://hashirama.blog/static/css/combined_css_file.css"
/> -->
<!-- <link rel="stylesheet" href="static/css/combined_css_file.css" /> -->
<!-- https://css.oddbird.net/scope/nesting/ -->

<!-- <link rel="stylesheet" href="static/css/combined_css_file.css" /> -->

<!-- <link rel="stylesheet" href="static/css/output.css" /> -->

<!-- princess = magic sciencstist - stop her from nuking bowerser  -->

<!-- i was a goomba -  -->
