


renakaufman.com {
  tls {
    #dns cloudflare h-0SHxu6H8uz1NshO1_JtEmDU0fBwCcKW532WGIH
        ca https://acme.zerossl.com/v2/DV90

  }

  respond "Hello, World!"

  # handle {
  #   reverse_proxy 0.0.0.0:1337
  # }

  # handle_errors {
  #   rewrite * /404.html
  #   file_server
  # }

  # encode zstd gzip

}


robot.hashirama.blog {


tls {
    dns cloudflare h-0SHxu6H8uz1NshO1_JtEmDU0fBwCcKW532WGIH
}

   root * /home/adnan/hashirama/services/bot-party/dist
    file_server
}

photos.hashirama.blog {
tls {
    dns cloudflare h-0SHxu6H8uz1NshO1_JtEmDU0fBwCcKW532WGIH
}


  handle {
	reverse_proxy 0.0.0.0:2283
  }

    encode zstd gzip
}

jellyfin.hashirama.blog {

tls {
    dns cloudflare h-0SHxu6H8uz1NshO1_JtEmDU0fBwCcKW532WGIH
}


  handle {
	reverse_proxy 0.0.0.0:8096
  }

    encode zstd gzip
}



map.hashirama.blog {
tls {
    dns cloudflare h-0SHxu6H8uz1NshO1_JtEmDU0fBwCcKW532WGIH
}


  handle {
	reverse_proxy 0.0.0.0:6000
  }

    encode zstd gzip

}


jupyter.hashirama.blog {
tls {
    dns cloudflare h-0SHxu6H8uz1NshO1_JtEmDU0fBwCcKW532WGIH
}


  handle {
	reverse_proxy ubuntu:8888
  }

    encode zstd gzip

}

static.hashirama.blog {
    root * /home/adnan/hashirama/services/static
    file_server
tls {
    dns cloudflare h-0SHxu6H8uz1NshO1_JtEmDU0fBwCcKW532WGIH
}


}



hashirama.blog {
  tls {
    dns cloudflare h-0SHxu6H8uz1NshO1_JtEmDU0fBwCcKW532WGIH
  }


  handle {
    reverse_proxy 0.0.0.0:1337
  }

  handle_errors {
    rewrite * /404.html
    file_server
  }

  encode zstd gzip
}
