{
    email adnan.f.wahab@gmail.com
    acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

renakaufman.com, hashirama.blog {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    reverse_proxy localhost:1337
}
